@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;;
}

.page-header {
  color: #000000;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color:  #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-want-here {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}


.main-index {
  color: #000000;
  background-color: #FFFFFF
}

.index-logo {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/background-1.jpg");
    background-size: 100% auto;
  background-repeat: no-repeat;
}

.about {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.about-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}
